html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
    color: black;
}

body {
  max-width: 100%;
  margin: 0 auto;
}

.header{
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.header ul li{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 28px;
}

@media (max-width: 400px) {
  .header {
    display: flex;
    justify-content: center;
    padding: 24px 16px;
  }
}

.about{
    display: flex;
    max-width: 100%;
    align-items: center;
    border-bottom: 1px solid black;
}

@media (max-width: 400px) {
  .about {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .about-img {
    width: 100%;
    margin: 0; 
  }

  .about-img img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.about-text{
    width: 50%;
    margin-left: 12px;
}

@media (max-width: 400px){
    .about-text{
        width: 100%;
        padding: 48px 12px;
    }
}

.about-date{
    font-size: 16px;
    margin-bottom: 4px;
}

.about-h3{
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    color: #0027D5;
    margin-bottom: 8px;
}

.about-h2{
    font-size: 28px;
    font-weight: bold;
}

.tag{
    font-size: 16px;
    color: white;
    background: #0027D5;
    padding: 6px 12px;
    border-radius: 40px;
    margin-left: 8px;
}

.content{
    max-width: 1920px;
    margin: 0 auto;
    padding: 80px 672px;
    border-bottom: 1px solid black;
}

@media (max-width: 400px) {
    .content{
        max-width: 100%;
        padding: 0;
        padding: 64px 12px;
    }
}

.section h2{
    font-size: 28px;
    color: #0027D5;
    margin-bottom: 24px;
    font-weight: bold;
}

.content img{
    width: 100%;
    margin-bottom: 24px;
}

.content p{
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
}

.section{
    margin-bottom: 48px;
}

.paragraph{
    margin-bottom: 24px;
}

.paragraph h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.paragraph p{
    font-size: 16px;
    margin-bottom: 8px;
}

.paragraph ol{
    list-style-type: decimal;
    padding-left: 1.5em;
    line-height: 1.5;
}

.section ul{
    list-style-type: disc;
    padding-left: 1.5em;
    line-height: 1.5;
}

.summary{
    font-weight: bold;
    padding: 24px;
    background: #EDEDED;
    border-radius: 24px;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 24px;
}

.button{
    display: flex;
    justify-content: space-between;
}

.button a{
    color: #4B4B4B;
    border: 1px solid #4B4B4B;
    border-radius: 40px;
    padding: 8px 16px;
}

.button a:hover{
    color:white;
    border: none;
    background: #4B4B4B;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
}

@media (max-width: 400px) {
    .footer{
        display: none;
    }
}

.email{
    font-size: 32px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 312px;
}

.icons{
    padding-right: 312px;
}

.copyright{
    max-width: 1920px;
    margin: 0 auto;
}

.copyright p{
    font-size: 16px;
    text-align: center;
    padding: 24px 812.5px;
}

@media (max-width: 400px) {
    .copyright {
        max-width: 100%;
    }

    .copyright p{
        max-width: 100%;
        padding: 24px 0;
    }
}

.blue-text{
    color: #0027D5;
}

.blue-link{
    color: #0027D5;
}

